.login-form {
  border: 5px dotted blue;
  border-radius: 5px;
  padding: 10px;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #82ea1a;
}

.login-heading {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

button {
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
